* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(../css/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}
@font-face {
  font-family: "Sand";
  src: url(../css/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../css/Nunito-VariableFont_wght.ttf);
}
header {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style: none;
}

/*700px*/
@media (min-width: 700px) {
  h1 {
    margin-right: 25px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul {
    display: flex;
    gap: 12px;
  }
}
@media (min-width: 1100px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  }
  header ul {
    display: flex;
    gap: 30px;
  }
}
footer {
  background-color: rgb(24, 22, 22);
  color: white;
  font-family: "Sand";
}

/*--img footer--*/
.img-footer {
  text-align: center;
  padding: 10px;
}

/*--titulo footer--*/
.titulo-footer {
  font-family: "Roboto";
  text-align: center;
  font-size: 35px;
}

/*--links footer--*/
.links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-footer ul li {
  list-style: none;
}

/*---redes del footer--*/
.redes__footer h4 {
  text-align: center;
  padding: 10px;
}

.redes__iconos {
  text-align: center;
  padding-bottom: 10px;
}

.derechos-footer {
  background-color: black;
  text-align: center;
}

@media (min-width: 700px) {
  .contenedor-foot {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .titulo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 35px;
  }
  .links-footer {
    font-size: 18px;
  }
}
/*estilos de la seccion de productos*/
.conteiner-productos {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../images/HD-wallpaper-black-and-white-book-page.jpg);
  display: grid;
  grid-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-items: center;
}

.producto {
  background-color: rgb(99, 96, 96);
  color: white;
  font-family: "Nunito";
  width: 250px;
  height: 415px;
  border-radius: 7px;
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
}
.producto__tittle {
  font-size: 18px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.producto__descripcion {
  padding-bottom: 10px;
}
.producto__price {
  font-weight: bold;
}

@media (min-width: 580px) {
  .conteiner-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .conteiner-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.producto__btn {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(99, 96, 96);
  width: 50%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  margin: 20px 0;
}

.nosotros__btn {
  margin: 20px 0;
  padding: 30px;
  background-color: rgb(99, 96, 96);
  border: 1px solid white;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----Portada inicio---*/
.portada-index {
  height: 100vh;
  background-image: url(../images/janovich-ordinarymen-still-08.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  text-shadow: 20px 10px 4px;
}

/*--Seccion quienes somos--*/
.section1-index {
  background-color: black;
  color: white;
  font-size: 18px;
}
.section1-index h3 {
  text-align: center;
  font-family: "Roboto";
  padding-top: 14px;
  padding-bottom: 18px;
}
.section1-index p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  padding-bottom: 15px;
  margin-left: 8px;
}

.section1-index img {
  width: 100%;
}

/*---seccion-frasejp--*/
.seccion-frase-jpeterson {
  height: 100vh;
  background-image: url(../images/1\ p_NegfjF8A7rrHpq0B9dJQ.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-size: 25px;
  display: flex;
  align-items: center;
}

/*--seccion que es el lado consciente*/
.seccion-ladoconsciente {
  background-color: black;
  color: white;
  font-size: 18px;
}
.seccion-ladoconsciente h3 {
  text-align: center;
  font-family: "Roboto";
  padding-top: 14px;
  padding-bottom: 18px;
}
.seccion-ladoconsciente p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  padding-bottom: 15px;
  margin-left: 8px;
}

.seccion-ladoconsciente img {
  width: 100%;
}

/*----seccion nuestra mision----*/
.section2-index {
  background-color: black;
  color: white;
  font-size: 18px;
}
.section2-index h3 {
  text-align: center;
  font-family: "Roboto";
  padding-top: 14px;
  padding-bottom: 18px;
}
.section2-index p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  padding-bottom: 15px;
  margin-left: 8px;
}

.logo {
  padding-top: 15px;
  text-align: center;
}

.logo img {
  width: 100%;
}

@media (min-width: 700px) {
  .section1-index {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .section1-index p {
    padding: 30px;
  }
  .seccion-ladoconsciente {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .seccion-ladoconsciente p {
    padding: 30px;
  }
  .section2-index p {
    margin-left: 25%;
    margin-right: 25%;
  }
  .logo img {
    width: 40%;
  }
}
/*---1100px*/
@media (min-width: 1100px) {
  .section1-index {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .section1-index h3 {
    font-size: 40px;
    margin-top: 120px;
  }
  .section2-index h3 {
    font-size: 40px;
  }
  .seccion-ladoconsciente {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .seccion-ladoconsciente h3 {
    font-size: 40px;
    margin-top: 120px;
  }
}
@media (min-width: 1100px) {
  .seccion-frase-jpeterson h3 {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
/*---Seccion contactanos---*/
.contactanos {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 40px;
  font-family: "Roboto";
}
.contactanos h2 {
  font-size: 32px;
  padding-bottom: 25px;
}

/*icono*/
.contactos {
  background-color: rgb(255, 253, 253);
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactos p {
  padding-left: 5px;
}
.contactos .icono-contacto {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*formulario*/
.form-contacto {
  width: 100%;
  background-color: white;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: "Roboto";
  color: black;
}

.gap-contact {
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: "Roboto";
  font-size: 15px;
}

.form-contacto textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
  font-family: "Roboto";
}

.form-contacto .btn {
  height: 25px;
  width: 20%;
  margin-top: 7px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: "Roboto";
}

/*--encontranos--*/
.encontranos {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 40px;
  font-family: "Roboto";
}
.encontranos h2 {
  font-size: 32px;
  padding-bottom: 25px;
}
.encontranos iframe {
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
  border-radius: 40px;
}

@media (min-width: 540px) {
  .form-contacto {
    width: 50%;
  }
  .encontranos iframe {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 1000px) {
  .form-contacto {
    width: 30%;
  }
  .encontranos iframe {
    width: 400px;
    height: 400px;
  }
}
.portada-autores {
  height: 100vh;
  background-image: url(../images/Dale-Carnegie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  text-shadow: 15px 15px 5px black;
  font-family: "Roboto";
}

.section1-autores {
  padding: 8px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  color: white;
  background-color: black;
}

/*----secciones de autores----*/
/*---jordan peterson--*/
.autor-jp {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-jp h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-jp p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-jp img {
  width: 100%;
}

/*--spencer johnson--*/
.autor-sj {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-sj h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-sj p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-sj img {
  width: 100%;
}

/*--dale carnegie--*/
.autor-dc {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-dc h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-dc p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-dc img {
  width: 100%;
}

/*Mark Manson*/
.autor-mm {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-mm h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-mm p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-mm img {
  width: 100%;
}

/*ECKhart Tolle*/
.autor-et {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-et h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-et p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-et img {
  width: 100%;
}

/*Steven Pressfield*/
.autor-sp {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-sp h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-sp p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-sp img {
  width: 100%;
}

/*Carol Dweck*/
.autor-cd {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-cd h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-cd p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-cd img {
  width: 100%;
}

/*Ray Dalio*/
.autor-rd {
  background-color: black;
  color: white;
  font-family: "Roboto";
}
.autor-rd h3 {
  text-align: center;
  padding-top: 7px;
}
.autor-rd p {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autor-rd img {
  width: 100%;
}

/*700px*/
@media (min-width: 700px) {
  .autor-jp {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-jp p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-jp img {
    object-fit: contain;
  }
  .autor-sj {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-sj p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-sj img {
    object-fit: contain;
  }
  .autor-dc {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-dc p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-dc img {
    object-fit: contain;
  }
  .autor-mm {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-mm p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-mm img {
    object-fit: contain;
  }
  .autor-et {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-et p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-et img {
    object-fit: contain;
  }
  .autor-sp {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-sp p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-sp img {
    object-fit: contain;
  }
  .autor-cd {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-cd p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-cd img {
    object-fit: contain;
  }
  .autor-rd {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 15px;
  }
  .autor-rd p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .autor-rd img {
    object-fit: contain;
  }
}
/*1100px*/
@media (min-width: 1100px) {
  .autor-jp h3 {
    font-size: 35px;
  }
  .autor-jp p {
    padding: 70px;
    font-size: 20px;
  }
  .autor-sj h3 {
    font-size: 35px;
  }
  .autor-sj p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-dc h3 {
    font-size: 35px;
  }
  .autor-dc p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-mm h3 {
    font-size: 35px;
  }
  .autor-mm p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-et h3 {
    font-size: 35px;
  }
  .autor-et p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-sp h3 {
    font-size: 35px;
  }
  .autor-sp p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-cd h3 {
    font-size: 35px;
  }
  .autor-cd p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
  .autor-rd h3 {
    font-size: 35px;
  }
  .autor-rd p {
    padding: 70px;
    font-size: 20px;
    text-align: center;
  }
}
/*portada libreria*/
.portada-libreria {
  height: 100vh;
  background-image: url(../images/alte-buecher-63740688-03b5-47c0-a268-b174ef7a568f.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 25px;
  color: white;
}

.portada-texto {
  font-family: "Sand";
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 680px) {
  .portada-libreria {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*---titulo nosotros--*/
.titulo-nosotros {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  padding-top: 50px;
  padding-bottom: 15px;
}

.logo-nosotros {
  width: 100%;
  padding-top: 12px;
  background-color: black;
  text-align: center;
}

.texto1-nosotros {
  padding: 10px;
  font-family: "Roboto";
  font-size: 18;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

/*frase1-nosotros*/
.frase1-nosotros {
  height: 100vh;
  background-image: url(../images/channels4_profile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Roboto";
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*segundo titulo*/
.titulo2-nosotros {
  padding: 15px;
  font-family: "Roboto";
  text-align: center;
  background-color: rgb(24, 22, 22);
  color: white;
}
.titulo2-nosotros h3 {
  padding-bottom: 7px;
  font-size: 32px;
}

/*frase2*/
.frase2-nosotros {
  height: 100vh;
  background-image: url(../images/loffit-dale-carnegie-guru-de-la-autoayuda-02.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Roboto";
}

/*tercer titulo*/
.titulo3-nosotros {
  padding: 15px;
  font-family: "Roboto";
  text-align: center;
  background-color: rgb(24, 22, 22);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo3-nosotros h3 {
  padding-bottom: 7px;
  font-size: 32px;
}

/*----700px---*/
@media (min-width: 700px) {
  .texto1-nosotros {
    padding: 100px;
    font-size: 20px;
  }
  .titulo2-nosotros {
    padding: 100px;
    font-size: 20px;
  }
  .titulo3-nosotros {
    padding: 100px;
    font-size: 20px;
  }
}
/*-------1000px---*/
.frase1-nosotros {
  font-size: 30px;
}

/*# sourceMappingURL=styles.css.map */
