/*---Seccion contactanos---*/
.contactanos{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 40px;
    font-family: "Roboto";
    h2{
        font-size: 32px;
        padding-bottom: 25px;
    }
}

/*icono*/
.contactos{
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    font-family: "Roboto";
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        padding-left: 5px;
    }
    .icono-contacto{
        width: 35px;
        height: 35px;
        border-radius: 20px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/*formulario*/
.form-contacto{
    width: 100%;
    background-color:white;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family: "Roboto";
    color: black;
}

.gap-contact{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: "Roboto";
    font-size: 15px;
}

.form-contacto textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    font-family: "Roboto";
}

.form-contacto .btn{
    height: 25px;
    width: 20%;
    margin-top: 7px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: "Roboto";
}


@media(min-width:540px){
    .form-contacto{
        width: 50%;
    }
}


@media(min-width:1000px){
    .form-contacto{
        width: 30%;
    }
}

