/*portada libreria*/
.portada-libreria{
    height: 100vh;
    background-image: url(../images/HD-wallpaper-black-and-white-book-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        text-align: center;
        display: flex;
        align-items: center;
        font-family: "Roboto";
        font-size: 25px;
        color: white;
}

.portada-texto{
    font-family: "Roboto";
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 10px;
}

/*productos*/

.productos{
    background-color: white;
}

