/*---titulo nosotros--*/
.titulo-nosotros{
    text-align: center;
    background-color: black;
    color:white;
    font-size: 20px;
    font-family: "Roboto";
    padding-top: 50px;
    padding-bottom: 15px;
}

.logo-nosotros{
    width: 100%;
    padding-top: 12px;
    background-color: black;
    text-align: center;
}

.texto1-nosotros{
    padding: 10px;
    font-family: "Roboto";
    font-size: 18;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

/*frase1-nosotros*/

.frase1-nosotros{
    height: 100vh;
    background-image: url(../images/channels4_profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    font-family: "Roboto";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*segundo titulo*/
.titulo2-nosotros{
    padding: 15px;
    font-family:"Roboto";
    text-align: center;
    background-color:$color-fondo;
    color:white;
    h3{
        padding-bottom: 7px;
        font-size: 32px;
    }

}

/*frase2*/
.frase2-nosotros{
    height: 100vh;
    background-image: url(../images/loffit-dale-carnegie-guru-de-la-autoayuda-02.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Roboto";
}


/*tercer titulo*/

.titulo3-nosotros{
    padding: 15px;
    font-family:"Roboto";
    text-align: center;
    background-color:$color-fondo;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
        padding-bottom: 7px;
        font-size: 32px;
    }

}

/*----700px---*/

@media(min-width:700px){
    .texto1-nosotros{
        padding: 100px;
        font-size: 20px;
    }
    .titulo2-nosotros{
        padding: 100px;
        font-size: 20px;
    }
    .titulo3-nosotros{
        padding: 100px;
        font-size: 20px;
    }
}


/*-------1000px---*/
.frase1-nosotros{
    font-size: 30px;
}