*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: "Roboto";
    src: url(../css/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face{
    font-family: "Sand";
    src: url(../css/Quicksand-VariableFont_wght.ttf);
}

@font-face{
    font-family: "Nunito";
    src: url(../css/Nunito-VariableFont_wght.ttf);
}


